@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "DeactivationRequestSuccessful";
    if (User.IsInRole("ValidFishingInstructor"))
    {
        Layout = "~/Views/Shared/_LayoutInstructor.cshtml";
    }
    else if (User.IsInRole("ValidCottageOwner"))
    {
        Layout = "~/Views/Shared/_LayoutCottageOwner.cshtml";
    }
    else if (User.IsInRole("ValidShipOwner"))
    {
        Layout = "~/Views/Shared/_LayoutShipOwner.cshtml";
    }
    else if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (User.IsInRole("HeadAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutHeadAdmin.cshtml";
    }
    else if (User.IsInRole("ValidClient"))
    {
        Layout = "~/Views/Shared/_LayoutClient.cshtml";
    }
}

<hgroup>
    <h1 class="text-danger">Your request:</h1>
    <h2 class="text-danger">Already exists!</h2>
</hgroup>

