
@{
    ViewBag.Title = "Map";
}

<h2>Map</h2>

<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjf80OnyVrHoYZ2QKDWm7q8VN8bIrxS58&callback=initMap"></script>
</head>

<div>
    <div id="modal-map2" style="height:76%; width:77%; position: absolute; overflow:hidden;"></div>
</div>

@*<script>
        var uluru = { lat: -25.363, lng: 131.044 };
        var map = new google.maps.Map(document.getElementById('modal.map2'), {
            zoom: 13,
            center: uluru,
            mapTypeId: google.maps.mapTypeId.HYBRID,
            zoomControl: true,
            zoomControlOptions: {
                position: google.map.ControlPosition.LEFT_BOTTOM
            },
            streetViewControl: true,
            streetViewControlOptions: {
                position: google.maps.ControlPosition.LEFT_BOTTOM
            },
            mapTypeControlOptions: {
                position: google.maps.ControlPosition.RIGHT_CENTER
            },
        });
    </script>*@

<!--<h2 style="background-color: #CCCCCC; color: #333333; text-align: center;">You can see our location here</h2>
<fieldset>
    <legend style="font-family: arial; color: #333333; font-size: large;"></legend>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="map" style="width:100%;height:500px"></div>
    <script>

        function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(20.296100, 85.824500),
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.HYBRID
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjf80OnyVrHoYZ2QKDWm7q8VN8bIrxS58&callback=myMap"></script>

</fieldset>
<footer>
    <p style="background-color: #CCCCCC; color: #333333; text-align: center;">© @DateTime.Now.ToLocalTime()</p>--> @*Add Date Time*@
<!--</footer>-->

<div class="mapouter"><div class="gmap_canvas">
    <iframe width="900" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Fruskogorska%20ulica,%20%20Novi%20Sad&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br>
    <style>
        .mapouter {
            position: relative;
            text-align: right;
            height: 500px;
            width: 900px;
        }
    </style><a href="https://www.embedgooglemap.net">google maps embed iframe</a>
    <style>
        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
            width: 900px;
        }
    </style>
</div></div>