@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="root">

</div>
<script src="~/Scripts/react/react.min.js"></script>
<script src="@Url.Content("~/Scripts/Components/RegisterForm.jsx")"></script>
<link href="~/Content/sty.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet" />