
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<!--Contact form*-->
<div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
    <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
        <h1 class="fw-bolder">Get registered here</h1>
        <p class="lead fw-normal text-muted mb-0">We'd like to be in touch with you</p>
    </div>
    <div id="login">

    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">

        </div>
    </div>
</div>

<script src="~/Scripts/react/react.min.js"></script>
<script src="@Url.Content("~/Scripts/Components/LoginForm.jsx")"></script>
<link href="~/Content/CSS/LoginForm.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet" />

